.App {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;

}

.input {
  padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttonEkle {     padding: 10px;
  border: none;
  border-radius: 50px;
  background: red;
  color: white;}

  .ana { display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .ic {
    width: 350px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    margin: 20px;
  }